<% layout('layouts/boilerplate')%>

<div class="d-flex text-center text-white bg-dark">
    
       <div class="home-img">
        <img src="https://res.cloudinary.com/yelpcamp-images/image/upload/v1618369563/yelpcamp_yfo4op.jpg" alt="">
        </div>

        <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
            <h1>Magnificent Location</h1>
            <p class="lead"> Welcome to MyTravelExplorer <br> Jump right in and explore our many Places. <br>
                Feel free to share some of your own and comment on others!</p>
            <a href="/campgrounds" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">View
                My Visit Places</a>
        </main>
    </div>

    </div>

   

</body>
</html>