<% layout('layouts/boilerplate')%>
<h1>All Campgrounds</h1>
<div>

</div>
    <ol>
        <% for (let campground of campgrounds) { %>
            <li> <a href="/campgrounds/<%= campground._id %>"><%= campground.title %></li></a>
            <% } %>
    </ol>
