#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}


.search{
     margin-bottom: 10px;
}

.search input[type=search] {
    width: 30%;   
    margin: auto;
    border: 2px solid #a6a5a9;
    border-radius: 19px;
    border-top-left-radius: 8em;
    border-bottom-right-radius: 8em;
    font-size: 16px;
    background-color: white;
    background-image: url("https://res.cloudinary.com/yelpcamp-images/image/upload/v1618548995/S_vylnuj.png");
    background-position-x: right;
    background-origin: content-box;
    background-size: 25px;
    background-repeat: no-repeat;
    padding: 12px 30px 12px 30px;
  }
  
  input[type=search]:focus {
    width: 100%;
  }

  
button.carousel-control-prev {
  width: 40px;
}
button.carousel-control-next {
  width: 40px;
}
span.carousel-control-prev-icon {
background-color: black;
height: 24px;
}
span.carousel-control-next-icon {
background-color: black;
height: 24px;
}
.carousel-inner {
  height: 300px;
}


/* card */

#campgrounds .col-sm-4 {
 width: 30%;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 padding: 10px;
 text-align: center;
 background-color: #f1f1f1;
 margin: 14px;
}

.col-sm-4 .img-fluid {
width: 100%;
height: 45%;
}
.container .card {
margin-bottom: 40px;
} 
.marker {
background-image: url('https://res.cloudinary.com/yelpcamp-images/image/upload/v1619132280/YelpCamp/mapbox_icon_138401_r8ang0.png');
background-size: cover;
width: 50px;
height: 50px;
border-radius: 50%;
cursor: pointer;
}

@media (max-width: 700px){
#campgrounds .col-sm-4 {
    width: 100%;
    margin-left: 1px;
}

}

@media (max-width: 700px){
  .search input[type=search] {
    width: 100%;

  }
}